    <div class="columns is-mobile is-centered">
       <div class="column is-half">
            <h1 class="title item-title text-center">Wow, it looks like you got lost</h1>
              <%= link_to image_tag("404.gif"), root_path %>
               <span class="nav-item" style="margin-top: 4rem; padding: 1rem 10rem;"> <%= link_to 'Go back home', root_path, class:"button is-primary", style:"font-size:1.7rem; padding: 2.2rem 0rem;" %></span>
        </div>
    </div>