<h1>Edit post</h1>
    <p><%= link_to 'Cancel', post_path(@post) %></p>
    <%= render 'form', post: @post %>
    <br />
    <p><%= link_to 'Delete post', @post, method: :delete, data: {confirm: "Are you sure you want to delete this permanently?"}, class: 'button is-danger buttonbs' %></p>
